@{
    ViewData["Title"] = "Vehicle Location";
}

<h1>Vehicle Location</h1>

<div id="vehicle-list">
    <table id="vehicle-table">
        <thead>
            <tr>
                <th>Vehicle ID</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="map" style="height: 500px;"></div>